nav {
    position: sticky;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: 36px;
    box-shadow: 0 0 50px -25px var(--a);
    padding: 10px;
    overflow: hidden;
}

nav .projects {
    max-width: calc(100% - 100px);
    overflow-x: auto;
}

nav .projects a {
    max-width: 200px;
    min-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

nav .projects::-webkit-scrollbar {
    display: none;
}

nav .active {
    text-decoration: underline;
}