.content textarea {
    padding: 5px;
    margin: 5px;
    background-color: var(--b);
    color: var(--c);
    border-radius: 5px;
    border: 1px solid var(--a);
    min-width: 30dvw;
    min-height: 20dvh;
}

.content .right {
    color: var(--a);
}