:root {
  --b: rgb(22, 22, 22);
  --c: rgb(227, 227, 227);
  --a: dodgerblue;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  outline: none;
}

html {
  background-color: var(--b);
  color: var(--c);
}

a {
  color: var(--c);
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;
}

.col {
  flex-direction: column;
}

.g-10 {
  gap: 10px;
}

main {
  padding: 10px;
  max-width: 400px;
  margin: auto;
}

button:hover,
input:focus,
button:focus {
  cursor: pointer;
  background-color: var(--b);
  color: var(--a);
}

input,
button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--a);
  color: var(--b);
  transition: all 0.3s ease-in-out;
  border: 2px solid var(--a);
}

button {
  color: var(--c);
}

input {
  background-color: var(--b);
}

::placeholder {
  color: var(--a);
}

.danger {
  background-color: red;
}